@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
.container {
  max-width: 80%;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  margin: 0 auto;
}

.col-lg-1 {
  grid-column: span 1;
}

.col-lg-2 {
  grid-column: span 2;
}

.col-lg-3 {
  grid-column: span 3;
}

.col-lg-4 {
  grid-column: span 4;
}

.col-lg-5 {
  grid-column: span 5;
}

.col-lg-6 {
  grid-column: span 6;
}

.col-lg-7 {
  grid-column: span 7;
}

.col-lg-8 {
  grid-column: span 8;
}

.col-lg-9 {
  grid-column: span 9;
}

.col-lg-10 {
  grid-column: span 10;
}

.col-lg-11 {
  grid-column: span 11;
}

.col-lg-12 {
  grid-column: span 12;
}

@media only screen and (max-width: 576px) {
  .col-sm-1 {
    grid-column: span 1;
  }
  .col-sm-2 {
    grid-column: span 2;
  }
  .col-sm-3 {
    grid-column: span 3;
  }
  .col-sm-4 {
    grid-column: span 4;
  }
  .col-sm-5 {
    grid-column: span 5;
  }
  .col-sm-6 {
    grid-column: span 6;
  }
  .col-sm-7 {
    grid-column: span 7;
  }
  .col-sm-8 {
    grid-column: span 8;
  }
  .col-sm-9 {
    grid-column: span 9;
  }
  .col-sm-10 {
    grid-column: span 10;
  }
  .col-sm-11 {
    grid-column: span 11;
  }
  .col-sm-12 {
    grid-column: span 12;
  }
}
@media only screen and (max-width: 768px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
}
@media only screen and (max-width: 1180px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
}
.text-white {
  color: white;
}

.p-tb {
  padding: 10rem 0rem;
}

.p-tb-5 {
  padding: 5rem 0rem;
}

.pt {
  padding-top: 3rem;
}

.top-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.card {
  border: 1px solid rgb(223, 223, 223);
  padding: 1rem 1rem;
}

.center {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
  color: rgb(22, 22, 22);
}

.nav-bg {
  background-color: #01255b;
  transition: background-color 1.3s ease-out;
}

header {
  background-color: none;
  padding: 1rem;
  color: white;
  z-index: 99;
}
header nav .menu-mobile-nav {
  display: none;
}
@media only screen and (max-width: 576px) {
  header nav .menu-mobile-nav {
    display: inline-block;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 0.5rem;
  }
  header nav .menu-mobile-nav .bx {
    font-size: 2rem;
    cursor: pointer;
  }
}
header nav .nav-group {
  display: flex;
  align-items: center;
  justify-content: end;
}
header nav .nav-group li {
  list-style: none;
}
@media only screen and (max-width: 576px) {
  header nav .nav-group {
    display: none;
  }
}
header nav a {
  color: white;
  text-decoration: none;
  padding: 0rem 1rem;
}
header nav a:hover {
  border-bottom: 1px solid #f11e84;
  color: #f11e84;
  padding-bottom: 1rem;
}

.hide {
  display: none;
}

.main {
  background: url("./../images/bg.jpg");
  background-size: cover;
  height: auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

@media only screen and (max-width: 576px), only screen and (max-width: 768px), only screen and (max-width: 1180px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.1rem;
    color: rgb(22, 22, 22);
  }
  .open-nav {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    background-color: #001434;
  }
}/*# sourceMappingURL=main.css.map */